#basic{
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    color:#222222;
}

.footer-privacy a{
    text-decoration: none;
    color:#222222;
}


.footer-privacy a:hover{
    text-decoration: underline
}

.footer-privacy, .footer-brand, .footer-socials{
    text-align: center;
    width: 100%;
}

.footer-socials{
    font-size: 1.5rem;
}

.show-form{
    display: inline-block;
}