<%- layout("layouts/boilerplate") -%>
<body>
    <% if (error && error.length) { %>
  <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
    <%= error %>
    <button type="button" 
            class="btn-close" 
            data-bs-dismiss="alert" 
            aria-label="Close">
    </button>
  </div>
<% } %>
  <h2 class="listing-details show-title offset-1">Welcome Back to Wanderlust, Login Now !</h2>
  <form
    method="post"
    action="/login"
    class="col-8 offset-2 needs-validation"
    novalidate
  >
    <div>
      <label class="form-label" for="username">Enter username: </label>
      <input class="form-control mb-1" name="username" type="text" required />
      <div class="valid-feedback">Looks good !</div>
      <br />
    </div>
    <div>
      <label class="form-label" for="password">Enter password: </label>
      <input
        class="form-control mb-1"
        name="password"
        type="password"
        required
      />
      <div class="valid-feedback">Looks good !</div>
      <br />
    </div>
    <button class="btn btn-dark mb-5 save-changes offset-5">Login</button>
  </form>
</body>
